DistributedComputations/lab_module_2/lab_1/src/main/java/library.dtd

<!ELEMENT Library (Author*)>
        <!ELEMENT Author (Book*)>
        <!ELEMENT Book (#PCDATA)>
        <!ATTLIST Author
                id ID #REQUIRED
                name CDATA #REQUIRED
                >
        <!ATTLIST Book
                id ID #REQUIRED
                authorId IDREF #REQUIRED
                name CDATA #REQUIRED
                releaseYear CDATA #REQUIRED
                >